<!DOCTYPE html>
<html lang="en">
<head>
  <script src="http://code.jquery.com/jquery-2.1.1.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <style type = "text/css">
  .centerdv{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .centerform{
    margin-left: auto;
    margin-right: auto;
    width:45%; 
  }
  
  </style>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class= "container-fluid">
      <div class ="navbar-header">
        <a class = "navbar-brand" href={% 'root' %}>Survey Site</a>
      </div>
      <ul class = "nav navbar-nav navbar-right">
        <li><a href={% url 'admin-survey-create-view' %}>Create Survey</a></li>
        <li><a href="{% url 'admin-panel' %}">View Survey Data</a></li>
      </ul>
    </div>
  </div>
  <div class= "centerdv container">
    <div class="page-header">
      <h2>Add a question</h2>
    </div>
    <br>
    <form method= "post" class = "centerform" action = {% url 'admin-question-add' %}>
      {% csrf_token %}
      <b>Question:</b>
      <input type = "text" class = "form-control" name = "question_text">
      <br>
      <input type = "submit" class = "btn btn-primary" value = "Complete and Add Choices!"> 
    </form> 
    
  </div>  
</body>
</html> 