<!DOCTYPE html>
<html lang="en">
<head>
  <script src="http://code.jquery.com/jquery-2.1.1.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <style type = "text/css">
  .centerdv{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  </style>
  <div class = "jumbotron container centerdv">
    <h2>{{survey.title}}</h2>
  </div>
  <form method = "post" action = {% url 'fill-survey' %}>
    <input type = "hidden" name = "survey_id" value = {{survey.id}}>
    {% csrf_token %}
    {% for question in questions %}
    <div class = "container centerdv">
      <div class = "well centerdv">
        <b>{{question.question_text}}</b>
      </div>
      {% for choice in question.choice_set.all %}
      <label class = "radio inline">
        <input type = "radio" name="question{{question.id}}" value= {{choice.id}}>
        {{choice.choice_text}}
      </label>
      {% endfor %}
    {% endfor %} 
    <input type = "submit" value = "Complete!" class = "btn btn-lg btn-success"> 
    </div>
  </form>
  
</body>
</html>